<link href="{{ asset('bundles/app/bootstrap.min.css')}}" rel="stylesheet"/>

	<link href="{{ asset('bundles/app/register.css')}}" rel="stylesheet"/>
	<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
<div class="panel-heading">
             <div class="row">
              <div class="col-xs-6">
                Payment
              </div>
            </div>
            <hr>
          </div>
<div class="fos_user_user_show" style="margin-left:40px;">
	Order completed with SUCCESS !!
<br><br><br>
</div>
 </div>
</div>
</div>
</div>





